{
  "env": {
    "development": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        "add-module-exports",
        "@babel/plugin-transform-classes"
      ]
    },
    "production": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        "add-module-exports",
        "@babel/plugin-transform-classes"
      ]
    }
  }
}
